body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding-top: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-display {
    font-size: 90px;
    color: #333;
    text-align: center;
    margin-bottom: 27px;
}

.links-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.links-category {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.link-card {
    display: inline-block;
    margin: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 10px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
}

.link-card:hover {
    transform: scale(1.1);
}

.link-card img {
    width: 48px;
    height: 48px;
}

#randomImageContainer {
    margin-top: 20px;
    text-align: center;
}

#randomImage {
    max-width: 600px;
    max-height: 360px;
    border-radius: 10px;
}